.footer{
    display: flex;
    flex-direction: column;
    background-color: rgba(5,8,12,0.8);

    &__icons{
        display: flex;
        justify-content: space-around;
        text-align: center;
        width: 100%;
        font-size: 1.6rem;
        padding: 2rem;
        border-bottom: 2px solid rgba(5,8,12,0.8);
    }

    i{
            margin-left: 1rem;
    }
    i:first-child{
            margin-left: 0;
        
    }
}

.footer__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;

    h2{
    margin: 1.5rem;
    }
}