*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerProducts{
    max-width: 700px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-detail {
    background: #eb94d0;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    border-radius: 20px;
    text-shadow: 3px 2px 1px #9daef5;
    box-shadow: 6px 5px 24px #666666;
    font-family: monospace ;
    color: #fafafa;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.btn-detail:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
    }

.btn-carrito {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC; 
    border-radius: 6px;border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-carrito {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.btn-carrito:hover {
    background-color: #008CBA;
    color: white;
}

.btn-checkout {
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 15px;
        padding: 20px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}

.btn-checkout span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}

.btn-checkout span:after {
    content: '\00bb';  /* Entidades CSS. Para usar entidades HTML, use &#8594;*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }

.btn-checkout:hover span {
    padding-right: 25px;
    }

.btn-checkout:hover span:after {
    opacity: 1;
    right: 0;
}


h2 {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
h4 {
    color: black;
    text-align: center;
}
    
.item_img {
    border-radius: 24px;
    width: 250px;
    margin: 10px;
    cursor: pointer;
    max-width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 3px black;
}

p {
    
        text-align: center;
        color: black;
        font-size: 12px;
        font-family: "Anton", sans-serif;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 400;
        margin-top: 10px;
        
    }

