*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerProducts{
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2 {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}
h4 {
    color: black;
}
    
.item_img {
    border-radius: 24px;
    width: 250px;
    margin: 10px;
    cursor: pointer;
    max-width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 3px black;
}

p {
    
        text-align: left;
        color: black;
        font-size: 12px;
        font-family: "Anton", sans-serif;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 400;
        margin-top: 10px;
        
    }

